﻿@model User.Core.Model.SearchCustomer

@{
    ViewData["Title"] = "Search Customer";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Login.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        #customers {
            overflow: scroll;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }
    </style>

</head>
<body>

    <h2 style="text-align:center">Wellcome</h2>

    <div class="container">
        <form asp-action="CustomerSearch" method="post" asp-controller="Customer">

            <h1 style="color: red; align-content: center">@ViewBag.NoneCustomer</h1>

            <div class="row">
                <div class="col-25">
                    <label for="fname">LastName</label>
                </div>
                <div class="col-75">
                    <input type="text" placeholder="LastName.." asp-for="@Model.CustomerName">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">FirstName</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="FirstName.." asp-for="@Model.CustomerSurname">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="lname">Pasport</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="Pasport.." asp-for="@Model.PersonDocument">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="lname">Email</label>
                </div>
                <div class="col-75" style="text-align:center">
                    <input type="text" placeholder="Email.." asp-for="@Model.Email">
                </div>
            </div>


            <button class="button vertical-center">Button</button>
        </form>

        <div style="overflow: scroll; height: 550px;">
            @if (Model != null)
            {
                @foreach (var item in Model.Customers)
                {

                    <table id="customers">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Lastname</th>
                            <th>Father name</th>
                            <th>Email</th>
                            <th>Pasport</th>
                            <th>AllProp</th>
                        </tr>
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.CustomerName</td>
                            <td>@item.CustomerSurname</td>
                            <td>@item.FathersName</td>
                            <td>@item.Email</td>
                            <td>@item.PersonDocument</td>
                            <td><form asp-controller="Customer" asp-action="GetAllInfo" method="post"><button>All</button></form></td>
                        </tr>
                    </table>
                }
            }
        </div>


    </div>

</body>
</html>
