﻿@model User.Core.Model.SearchCustomer

@{
    ViewData["Title"] = "Main Customer";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Login.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    </style>

</head>
<body>

    <h2 style="text-align:center">Wellcome @Model.CustomerName @Model.CustomerSurname</h2>

    <div class="container">


    </div>

</body>
</html>
